@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

/* Italicize the vignettes */
[id^="chapter-"] p,
#l-envoi p{
	font-style: italic;
}

[id^="chapter-"] p > i{
	font-style: normal;
}

header > p{
	font-variant: small-caps;
	margin: 3em auto;
}

#the-torrents-of-spring section > blockquote{
	font-variant: small-caps;
	text-align: center;
}

#the-struggle-for-life-10-authors-note > p:first-of-type{
	font-style: italic;
}

[epub|type~="z3998:verse"] p{
	text-align: initial;
	text-indent: 0;
}

[epub|type~="z3998:verse"] p > span{
	display: block;
	padding-left: 1em;
	text-indent: -1em;
}

[epub|type~="z3998:verse"] p > span + br{
	display: none;
}

/* All epigraphs */
[epub|type~="epigraph"]{
	font-style: italic;
	hyphens: none;
	-epub-hyphens: none;
}

[epub|type~="epigraph"] cite{
	margin-top: 1em;
	font-style: normal;
	font-variant: small-caps;
}
/* End all epigraphs */

header [epub|type~="epigraph"] cite{
	font-variant: small-caps;
}

/* Epigraphs in section headers */
article > header [epub|type~="epigraph"],
section > header [epub|type~="epigraph"]{
	display: inline-block;
	margin: auto;
	max-width: 80%;
	text-align: initial;
}

@supports(display: table){
	article > header [epub|type~="epigraph"],
	section > header [epub|type~="epigraph"]{
		display: table;
	}
}
/* End epigraphs in section headers */
